@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    color: aliceblue;
    margin: 0;
}

header{
    background-color: #6F3A1B;
    padding: 100px;


    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Vina Sans', sans-serif;
    font-size: 60px;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 500px;
}

article{
    background-color: #1B506F;
    width: 260px;
    border-radius: 10px;
    padding-top: 10px;
    height: 300px;

    display: flex;
    flex-direction: column-reverse ;
    justify-content: space-around;
    align-items: center;

    font-family: 'Karla', sans-serif;
}

img{
    border-radius: 100%;
    width: 200px;
}
footer{
    background-color: #6F3A1B;
    height: 98px;

    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-family: 'Karla', sans-serif;
}