html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    
    height: 100%;
    width: 100%;
}

#div1{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    padding: 20px;

    background-color: cadetblue;

    border:solid;
    border-color:blueviolet;
    border-radius: 10px;
}

p{
    font-size: 25px;
}

img{
    border:solid;
    border-color: black;
    border-radius: 10px;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

#result{
    padding-left: 2px;
    padding-right: 2px;
    border: solid;
    border-radius: 5px;
}