*{
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
}

article, img{
    border: solid;
    border-color: #380466;
    border-radius: 10px;
    border-width: 6px;
}

html,body{
    height:100%;
}

body{
    margin: 0px;
    padding-top: 5px;
}

body, header, p{
    display: flex;
    justify-content: center;
    align-content: center;
}

article{
    display: flex;
}

img{
    border-radius: 100%;
    padding-left: 25px;
    padding-right: 25px;

    background-color: #FFF9EF;
}

span{
    color: #6307B3;
}


footer{
    display: flex;
    justify-content: center;
}


footer > nav > ul {
    padding: 0px;
    width: 180px;
    display: flex;
    justify-content:space-between;   
}

a > img{
    border: solid;
    border-color: #380466;
    border-radius: 10px;
    border-width: 4px;

    padding: 0px;
    margin: 0px;

    transition: background-color 0.5s, border-color 0.5s;
}

li{
    list-style-type: none;
}

a > img:hover{
    border-color: #7C09E0;
}

@media only screen and (max-width: 649px) {
    header > nav{
        display: none;
    }

    article{
        flex-direction: column;
    }

    h1{
        font-size: 20px;
    }

    article{
        height: 460px;
    }
   
    img{
        margin-left: 20px;
        margin-right: 20px;
    
        height: 200px;  
    }
  
    p{
        font-size: 16px;
    }

    span{
        color: #6307B3;
        font-size: 16px;
    }

    footer > nav > ul > li {
        width: 42px;
    }   

    a > img{
        height: 30px;
    } 

}

@media only screen and (min-width: 650px){
    article{
        flex-direction:column;
        width: 100%;
        height: 100%;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }

    header > nav{
        width: 40%;    
    }

    header > nav > ul{

        padding: 0%;
        display: flex;
        justify-content:space-around;   
    }

    h1{
        font-size: 20px;
    }

    #div1{
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }

    #div2{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }

    article{
        height: 460px;
    }
   
    img{
        margin-left: 20px;
        margin-right: 20px;
    
        height: 200px;  
    }
  
    p{
        font-size: 16px;
    }

    span{
        color: #6307B3;
        font-size: 16px;
    }

    footer > nav > ul > li {
        width: 42px;
    }   

    a > img{
        height: 30px;
    } 
}